pipeline/incremental_loop.json
{
	"name": "incremental_loop",
	"properties": {
		"activities": [
			{
				"name": "loop_incremental",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.tablename",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "fetch_cdc",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "Ds_fetch_cdc",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"floder_name": {
											"value": "@concat(item().table,'_CDC')",
											"type": "Expression"
										},
										"file_name": "cdc.json"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "current",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "current",
								"value": {
									"value": "@formatDateTime(utcnow(),'yyyyMMdd_HHmmss')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "sql_adls",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "fetch_cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "current",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@{concat('SELECT * FROM ',item().schema,'.',item().table,' WHERE ',item().cdc_col,' > ''',if(or(empty(activity('fetch_cdc').output.value[0].cdc),equals(activity('fetch_cdc').output.value[0].cdc,'')),'1900-01-01T00:00:00',activity('fetch_cdc').output.value[0].cdc),'''')}",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Ds_sql",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Ds_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"Floder": {
											"value": "@item().table",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat(item().table,'_',variables('current'),'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Incremental_data",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "sql_adls",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('sql_adls').output.dataRead,0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Deleteduplicatedata",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "Ds_Parquet",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"Floder": {
														"value": "@item().table",
														"type": "Expression"
													},
													"filename": {
														"value": "@concat(item().table,'_',variables('current'),'.parquet')",
														"type": "Expression"
													}
												}
											},
											"logStorageSettings": {
												"linkedServiceName": {
													"referenceName": "Ls_AzureDataLakeStorage",
													"type": "LinkedServiceReference"
												}
											},
											"enableLogging": true,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "max_cdc_copy1",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "Ds_SqlDatabase",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "@{concat('SELECT ISNULL(MAX(',item().cdc_col,'),''1900-01-01T00:00:00'') AS cdc FROM ',item().schema,'.',item().table)}",
														"type": "Expression"
													}
												}
											]
										}
									},
									{
										"name": "update_cdc_copy1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "max_cdc_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "cdc",
														"value": {
															"value": "@trim(activity('max_cdc_copy1').output.resultSets[0].rows[0].cdc)",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "Ds_fetch_cdc",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"floder_name": {
														"value": "@concat(item().table,'_CDC')",
														"type": "Expression"
													},
													"file_name": "empty.json"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Ds_fetch_cdc",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"floder_name": {
														"value": "@concat(item().table,'_CDC')",
														"type": "Expression"
													},
													"file_name": "cdc.json"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Alerts",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "loop_incremental",
						"dependencyConditions": [
							"Failed",
							"Skipped",
							"Succeeded",
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-26.westindia.logic.azure.com:443/workflows/cecec4f50d984043a025f8146ae6b892/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=J42wNCNSdyTKOcT_wOhLRR-sBX_ex2_QbDdfP0l7i80",
					"body": {
						"value": "{\n  \"pipeline_name\":\"@{pipeline().Pipeline}\",\n  \"pipeline_runid\":\"@{pipeline().RunId}\",\n  \n}\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"tablename": {
				"type": "Array",
				"defaultValue": [
					{
						"schema": "dbo",
						"table": "DimUser",
						"cdc_col": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimTrack",
						"cdc_col": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimDate",
						"cdc_col": "date",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimArtist",
						"cdc_col": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "FactStream",
						"cdc_col": "stream_timestamp",
						"from_date": ""
					}
				]
			}
		},
		"variables": {
			"current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}