pipeline/Pl_sql_delta.json
{
	"name": "Pl_sql_delta",
	"properties": {
		"activities": [
			{
				"name": "sql_adls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "fetch_cdc",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.Schema}.@{pipeline().parameters.tablename} WHERE @{pipeline().parameters.cdc_column} < '@{activity('fetch_cdc').output.value[0].cdc}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_sql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"Floder": "users",
							"filename": {
								"value": "@concat(pipeline().parameters.tablename,'_',variables('current'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "fetch_cdc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Ds_fetch_cdc",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"floder_name": "cdc",
							"file_name": "cdc.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "upadte_cdc",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "fetch_lst_cdc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "cdc",
								"value": {
									"value": "@{activity('fetch_lst_cdc').output.resultSets[0].rows[0].cdc}\n",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Ds_fetch_cdc",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"floder_name": "cdc",
							"file_name": "empty.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"Floder": "cdc",
							"filename": "cdc.json"
						}
					}
				]
			},
			{
				"name": "fetch_lst_cdc",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "sql_adls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Ds_SqlDatabase",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT MAX(@{pipeline().parameters.cdc_column}) as cdc FROM @{pipeline().parameters.Schema}.@{pipeline().parameters.tablename} ",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"Schema": {
				"type": "String"
			},
			"tablename": {
				"type": "String"
			},
			"cdc_column": {
				"type": "string"
			}
		},
		"variables": {
			"current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}