spotify-factory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "spotify-factory"
		},
		"Ds_SqlDatabase_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Ds_SqlDatabase'"
		},
		"Ls_AzureDataLakeStorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Ls_AzureDataLakeStorage'"
		},
		"Ds_SqlDatabase_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "spotifysql.database.windows.net"
		},
		"Ds_SqlDatabase_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "spotify"
		},
		"Ds_SqlDatabase_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sql"
		},
		"Ls_AzureDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stoargespotify.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Pl_sql_delta')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sql_adls",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "fetch_cdc",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "current",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@{concat(\n  'SELECT * FROM ',\n  pipeline().parameters.Schema, '.', pipeline().parameters.tablename,\n  ' WHERE ', pipeline().parameters.cdc_column,\n  ' > ''',\n  if(\n    empty(pipeline().parameters.from_date),\n    activity('fetch_cdc').output.value[0].cdc,\n    pipeline().parameters.from_date\n  ),''''\n)}\n\n\n\n\n\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ds_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_Parquet",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"Floder": {
										"value": "@pipeline().parameters.tablename",
										"type": "Expression"
									},
									"filename": {
										"value": "@concat(pipeline().parameters.tablename,'_',variables('current'))",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "fetch_cdc",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Ds_fetch_cdc",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"floder_name": {
										"value": "@{pipeline().parameters.tablename}_CDC",
										"type": "Expression"
									},
									"file_name": "cdc.json"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "current",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "current",
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyyMMdd_HHmmss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Incremental_data",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "sql_adls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('sql_adls').output.dataRead,0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Deleteduplicatedata",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Ds_Parquet",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"Floder": {
													"value": "@pipeline().parameters.tablename",
													"type": "Expression"
												},
												"filename": "@concat(pipeline().parameters.tablename,'_',variables('current'))"
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "Ls_AzureDataLakeStorage",
												"type": "LinkedServiceReference"
											},
											"path": "log"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "max_cdc_copy1",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "Ds_SqlDatabase",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "SELECT MAX(@{pipeline().parameters.cdc_column}) as cdc FROM @{pipeline().parameters.Schema}.@{pipeline().parameters.tablename}",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "upadte_cdc_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "max_cdc_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "cdc",
													"value": {
														"value": "@trim(activity('max_cdc_copy1').output.resultSets[0].rows[0].cdc)\n",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Ds_fetch_cdc",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"floder_name": {
													"value": "@{pipeline().parameters.tablename}_CDC",
													"type": "Expression"
												},
												"file_name": "empty.json"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Ds_fetch_cdc",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"floder_name": "cdc",
												"file_name": "cdc.json"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Schema": {
						"type": "String"
					},
					"tablename": {
						"type": "string"
					},
					"cdc_column": {
						"type": "string"
					},
					"from_date": {
						"type": "String"
					}
				},
				"variables": {
					"current": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_sql')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Parquet')]",
				"[concat(variables('factoryId'), '/datasets/Ds_fetch_cdc')]",
				"[concat(variables('factoryId'), '/linkedServices/Ds_SqlDatabase')]",
				"[concat(variables('factoryId'), '/linkedServices/Ls_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/incremental_loop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "loop_incremental",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tablename",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "fetch_cdc",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"dataset": {
											"referenceName": "Ds_fetch_cdc",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"floder_name": {
													"value": "@concat(item().table,'_CDC')",
													"type": "Expression"
												},
												"file_name": "cdc.json"
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "current",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "current",
										"value": {
											"value": "@formatDateTime(utcnow(),'yyyyMMdd_HHmmss')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "sql_adls",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "fetch_cdc",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "current",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@{concat('SELECT * FROM ',item().schema,'.',item().table,' WHERE ',item().cdc_col,' > ''',if(or(empty(activity('fetch_cdc').output.value[0].cdc),equals(activity('fetch_cdc').output.value[0].cdc,'')),'1900-01-01T00:00:00',activity('fetch_cdc').output.value[0].cdc),'''')}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Ds_sql",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Ds_Parquet",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"Floder": {
													"value": "@item().table",
													"type": "Expression"
												},
												"filename": {
													"value": "@concat(item().table,'_',variables('current'),'.parquet')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Incremental_data",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "sql_adls",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('sql_adls').output.dataRead,0)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Deleteduplicatedata",
												"type": "Delete",
												"dependsOn": [],
												"policy": {
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "Ds_Parquet",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze",
															"Floder": {
																"value": "@item().table",
																"type": "Expression"
															},
															"filename": {
																"value": "@concat(item().table,'_',variables('current'),'.parquet')",
																"type": "Expression"
															}
														}
													},
													"logStorageSettings": {
														"linkedServiceName": {
															"referenceName": "Ls_AzureDataLakeStorage",
															"type": "LinkedServiceReference"
														}
													},
													"enableLogging": true,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "max_cdc_copy1",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "Ds_SqlDatabase",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "@{concat('SELECT ISNULL(MAX(',item().cdc_col,'),''1900-01-01T00:00:00'') AS cdc FROM ',item().schema,'.',item().table)}",
																"type": "Expression"
															}
														}
													]
												}
											},
											{
												"name": "update_cdc_copy1",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "max_cdc_copy1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "JsonSource",
														"additionalColumns": [
															{
																"name": "cdc",
																"value": {
																	"value": "@trim(activity('max_cdc_copy1').output.resultSets[0].rows[0].cdc)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "JsonReadSettings"
														}
													},
													"sink": {
														"type": "JsonSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "JsonWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "Ds_fetch_cdc",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze",
															"floder_name": {
																"value": "@concat(item().table,'_CDC')",
																"type": "Expression"
															},
															"file_name": "empty.json"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Ds_fetch_cdc",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze",
															"floder_name": {
																"value": "@concat(item().table,'_CDC')",
																"type": "Expression"
															},
															"file_name": "cdc.json"
														}
													}
												]
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Alerts",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "loop_incremental",
								"dependencyConditions": [
									"Failed",
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-26.westindia.logic.azure.com:443/workflows/cecec4f50d984043a025f8146ae6b892/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=J42wNCNSdyTKOcT_wOhLRR-sBX_ex2_QbDdfP0l7i80",
							"body": {
								"value": "{\n  \"pipeline_name\":\"@{pipeline().Pipeline}\",\n  \"pipeline_runid\":\"@{pipeline().RunId}\"\n}\n\n\n",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"tablename": {
						"type": "Array",
						"defaultValue": [
							{
								"schema": "dbo",
								"table": "DimUser",
								"cdc_col": "updated_at",
								"from_date": ""
							},
							{
								"schema": "dbo",
								"table": "DimTrack",
								"cdc_col": "updated_at",
								"from_date": ""
							},
							{
								"schema": "dbo",
								"table": "DimDate",
								"cdc_col": "date",
								"from_date": ""
							},
							{
								"schema": "dbo",
								"table": "DimArtist",
								"cdc_col": "updated_at",
								"from_date": ""
							},
							{
								"schema": "dbo",
								"table": "FactStream",
								"cdc_col": "stream_timestamp",
								"from_date": ""
							}
						]
					}
				},
				"variables": {
					"current": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_fetch_cdc')]",
				"[concat(variables('factoryId'), '/datasets/Ds_sql')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Parquet')]",
				"[concat(variables('factoryId'), '/linkedServices/Ds_SqlDatabase')]",
				"[concat(variables('factoryId'), '/linkedServices/Ls_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"Floder": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Floder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_fetch_cdc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"floder_name": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().floder_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ds_SqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "instance_id",
						"type": "uniqueidentifier"
					},
					{
						"name": "instance_name",
						"type": "nvarchar"
					},
					{
						"name": "type_name",
						"type": "nvarchar"
					},
					{
						"name": "type_version",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "nvarchar"
					},
					{
						"name": "type_stream",
						"type": "varbinary"
					},
					{
						"name": "date_created",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "created_by",
						"type": "nvarchar"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ds_SqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_SqlDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Ds_SqlDatabase_properties_typeProperties_server')]",
					"database": "[parameters('Ds_SqlDatabase_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Ds_SqlDatabase_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Ds_SqlDatabase_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Ls_AzureDataLakeStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Ls_AzureDataLakeStorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}